.DS_Store
bin/
/db
.eclipse
.idea
.idea_modules
.history
.java-version
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
.settings
RUNNING_PID
*.iml
*.eml
*.swp
/dist/
.cache
